<h1>Hello World!</h1>
<% 23.times do%>
    <%= @text%>
    <br>
<% end %>

<%= form_tag("/front_end/index", method: "get") do %>
    <%= label_tag(:q, "Text to write, mustn't be empty:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>